<% include ../partials/head.ejs %> <!--- using head.ejs page from partials -->

<title> Login | IRL </title>

</head>
  <body>
    <% include ../partials/header.ejs %> <!--- using header.ejs page from partials -->
    <main>
      <div class="container">
        <div class="row">
        <form action="/auth/login" method="post">
          <div>
            <label>Username:</label>
            <input type="text" name="username"/>
          </div>
          <div>
            <label>Password:</label>
            <input type="password" name="password"/>
          </div>
          <div>
           <a>
            <button id="font-button" class="waves-effect waves-light btn black" type="submit" value="Log In">Log In</button>
            </a>
          </div>
        </form>
      </div>
    </main>
   <% include ../partials/footerNoUser.ejs %><!--- using footer.ejs page from partials -->
  </body>
</html>
