<% include ../partials/head.ejs %>
<title>Register</title>
</head>
    <% include ../partials/header.ejs %>
    <main>
      <div class="container">
        <div class="row">

        <form action="/auth/register" method="post">
          <div class="col s6">
            <label>Username:</label>
            <input type="text" name="username"/>
          </div>
           <div class="col s6">
            <label>Password:</label>
            <input type="password" name="password"/>
          </div>
          <div class="col s6">
            <label>First Name:</label>
            <input type="text" name="firstName"/>
          </div>
          <div class="col s6">
            <label>Last Name:</label>
            <input type="text" name="lastName"/>
          </div>
           <div class="col s6">
            <label>Email:</label>
            <input type="text" name="email"/>
          </div>
          <div class="col s6">
            <label>Date of Birth:</label>
            <input type="date" name="dob"/>
          </div>
            <button class="btn" type="submit" value="Register">Submit</button>
          </div>
        </form>
        </div>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
