<% include ../partials/head.ejs %> <!--- using head.ejs page from partials -->
<title>Upload</title>
</head>
  <body>
    <% include ../partials/header.ejs %> <!--- using header.ejs page from partials -->
    <main class="container">
      <div class="row">
        <h4>Let's get started!</h4>
          <h6>You'll need an 11 second video</h6>
          <h6>Make sure the lighting is good, and that your face is centered in the frame</h6>
          <h6>Not sure what to say? Answer one of these questions:</h6><br/><br/>
          <li>Would you rather fight one horse-sized duck or 100 duck-sized horses?</li>
          <li>Have you done anything lately worth remembering?</li>
          <li>What is another word for thesaurus?</li>
          <li>What do they use to ship styrofoam?</li>
          <li>Is there one celebrity you would punch in the face? Why?</h6><br/><br/>
          <h6>Link us to your video on YouTube or Vimeo. Make sure to go to 'Share' and use the 'embed' link.</h6>
          <h6>Without quotation marks!</h6>
          <form action="<%= '/auth/register/' + user.id + '?_method=PUT' %>" method="POST">
            <input type="text" name="videoURL" placeholder="https://youtube.com/embed/your-video-link" />
            <button class="btn black" type='submit'>submit</button>
          </form>
      </div>
    </main>
  </body>
</html>
