<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <a class="grey-text text-lighten-3" href="#!"><h5 class="white-text">Contact us</h5></a>
                <p class="grey-text text-lighten-4"></p>
              </div>
              <div class="col l4 offset-l2 s12">

                <ul>
                  <li><a class="grey-text text-lighten-3" href="/user">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="/profiles">Profiles</a></li>
                  <li><a class="grey-text text-lighten-3" href="/messages">Messages</a></li>
                  <li><a class="grey-text text-lighten-3" href="/composemessage">Compose Message</a></li>

                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Express General Assembly

            </div>
          </div>
          <style type="text/css">
            body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
          </style>
        </footer>

