<footer class="page-footer white">
          <div class="container">
            <div class="row">
              <div class="center-align">
                <a class="footer-text" href="#!"><h5 class="black-text">contact us</h5></a>
      <div class="black-text">
            <p class='footer-text'>© 2017 Dain, Alex, Chris</p>

            </div>              </div>
              <div class="col l4 offset-l2 s12">

              </div>
            </div>
          </div>
          <div >

          </div>
          <style type="text/css">
            body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
          </style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</footer>

