


<footer class="page-footer white">
<div class='container'>
  <nav class="black">
    <ul class='footer-nav-ul'>
      <li><a href="/user"><i class='material-icons'>home</i></a></li>
      <li><a href="<%= '/user/messages/' + user.id %>"><i class='material-icons'>email</i></a></li>
      <li><a href="<%= '/profiles/' + user.id %>"><i class='material-icons'>contacts</i></a></li>
      <li><a href="/user/edit"><i class='material-icons'>settings</i></a></li>
      <li><a href="/auth/logout"><i class='material-icons'>home</i></a></li>
    </ul>
  </nav>
  </div>
<!--           <div class="container">
            <div class="row">
              <div class="center-align">
                <a class="footer-text" href="#!"><h5 class="black-text">contact us</h5></a>
                <div class="black-text">
                  <p class='footer-text'>© 2017 Dain, Alex, Chris</p>
                </div>
              </div>
            </div>
          </div> -->
          <style type="text/css">
            body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
          </style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</footer>





</footer>
