<% include partials/head.ejs %>
<<<<<<< HEAD
<title> IRL | Home </time>
=======
>>>>>>> 9681264dceb2f11c2c0763c79f033a9967ebc982
</head>
  <body>
    <% include partials/header.ejs %>
    <main>

<<<<<<< HEAD
=======

>>>>>>> 9681264dceb2f11c2c0763c79f033a9967ebc982
    <div class="collection">
    <a href="/auth/register" class="collection-item center">Register</a>
    <a href="/auth/login" class="collection-item center">Log In</a>
    <a href="/auth/logout" class="collection-item center">Log Out</a>
  </div>

    </main>
    <% include partials/footer.ejs %> <!--- using footer.ejs page from partials -->
  </body>
</html>
