<% include partials/head.ejs %>

<title> IRL | Home </title>

</head>
  <body>
    <% include partials/header.ejs %>
    <main>

    <div class="collection">
    <a href="/auth/register" class="collection-item center">Register</a>
    <a href="/auth/login" class="collection-item center">Log In</a>
    <a href="/auth/logout" class="collection-item center">Log Out</a>
  </div>

    </main>
    <% include partials/footer.ejs %> <!--- using footer.ejs page from partials -->
  </body>


</html>
