
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

<% include ../partials/head.ejs %> <!--- using head.ejs page from partials -->
  <body>
    <% include ../partials/header.ejs %> <!--- using header.ejs page from partials -->
    <main>
      <div class="container">
        <form action="<%='/composemessage/' + user.id %>" method="POST">
          <div>
            <label>Message:</label>
            <input type="text" name="content"/>
          </div>

            <button class="btn waves-effect red lighten-2 waves-light" type="submit" name="action">
    <i class="material-icons tiny">send</i>
  </button>

</form>
 <iframe class='center-align' width="560" height="315" src="<%= user.videoURL %>?rel=0&autoplay=1" frameborder="0" allowfullscreen ></iframe>





      </div>
      <script src="../javascripts/editUser.js"></script>
    </main>
    <% include ../partials/footerNoUser.ejs %> <!--- using footer.ejs page from partials -->
  </body>
</html>
