

<% include ../partials/head.ejs %> <!--- using head.ejs page from partials -->
<title> Home </title>
</head>
  <body>
    <% include ../partials/header.ejs %> <!--- using header.ejs page from partials -->
    <main>
        <div class="collection">

       <a href="" class="collection-item center"> <p><%= user.firstName %></p></a> <!--- using dynamic data  from our database to render user information -->
        <a href="" class="collection-item center"><p><%= user.lastName %></p></a>
         <a href="" class="collection-item center"><p><%= user.email %></p></a>
        <a href="" class="collection-item center"> <p><%= user.dob %></p></a>
        <a href="/auth/logout" class="collection-item center">LOG OUT</a> <!--- on click we can logout and redirect to a main page-->

      </div>



    </main>
    <% include ../partials/footer.ejs %> <!--- using footer.ejs page from partials -->
  </body>
</html>
